Body {
    Font-family: 'Arial', sans-serif;
    Direction: rtl;
    Background-color: #f0f0f0;
    Margin: 0;
    Padding: 0;
}

Header {
    Background-color: #4CAF50;
    Color: white;
    Text-align: center;
    Padding: 1em 0;
}

Section {
    Margin: 20px;
    Padding: 20px;
    Background-color: white;
    Border-radius: 8px;
    Box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

Form {
    Display: flex;
    Flex-direction: column;
}

Label {
    Margin-top: 10px;
}

Input, select, button {
    Margin-top: 5px;
    Padding: 10px;
    Border: 1px solid #ccc;
    Border-radius: 4px;
}

Button {
    Background-color: #4CAF50;
    Color: white;
    Border: none;
    Cursor: pointer;
    Margin-top: 20px;
}

Button:hover {
    Background-color: #45a049;
}

.shift-details {
    Display: none;
    Margin-top: 10px;
    Flex-direction: column;
}

.shift-details label {
    Margin: 5px 0;
}

.shift-details input {
    Margin-top: 5px;
}

Table {
    Width: 100%;
    Border-collapse: collapse;
    Margin-top: 20px;
}

Table, th, td {
    Border: 1px solid #ccc;
}

Th, td {
    Padding: 10px;
    Text-align: center;
}

Thead {
    Background-color: #f2f2f2;
}

#result-table-2 {
    Margin-top: 40px;
}